server {
    listen 80;
    server_name {{ cashbook.host }};
    rewrite ^(.*)$ https://{{ cashbook.host }}$1 last;
}

server {
    listen 443;
    ssl on;
    server_name {{ cashbook.host }};
    ssl_certificate /etc/letsencrypt/live/{{ wordpress.host }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ wordpress.host }}/privkey.pem;

    root /var/www/{{ cashbook.host }}/current/web;
    charset utf-8;

    location / {
        auth_basic "Restricted";
        auth_basic_user_file /var/www/.htpasswd;

        # try to serve file directly, fallback to app.php
        try_files $uri /app.php$is_args$args;
    }

    location ~ ^/app\.php(/|$) {
        expires        off;
        fastcgi_pass   phpfpm;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param  SCRIPT_FILENAME  $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
        internal;
    }
}